---
import ColorPicker from "../components/ColorPicker/ColorPicker.astro";
import type {
    ColorPicker as ColorPickerCMS,
    HomePage,
} from "../../studio-lorika-ontop/sanity.types";
import { cleanHtml } from "../utils/clean-html";
import { urlFor } from "../utils/sanity-client";

interface Props {
    homePageData: HomePage;
    colorPickerData: ColorPickerCMS;
}

let { homePageData, colorPickerData } = Astro.props;

const lItem2Content = cleanHtml(homePageData?.lItem2Content!);
const lItem5Content = cleanHtml(homePageData?.lItem5Content!);
const lItem6Content = cleanHtml(homePageData?.lItem6Content!);

const dItem2Content = cleanHtml(homePageData?.dItem2Content!);
const dItem3Content = cleanHtml(homePageData?.dItem3Content!);
const dItem5Content = cleanHtml(homePageData?.dItem5Content!);
---

<!-- INDEX STYLE -->
<link rel="stylesheet" href="/css/pages/index.css" />

<!-- SECTION - HERO -->
<div id="hero-wrapper">
    <!-- 3D HERO RENDER -->
    <canvas id="hero-3d-render"></canvas>
    <div id="hero" class="pt-15 pb-3">
        <!-- 3D WRAPPER -->
        <div id="hero-3d-ui-wrapper">
            <!-- COLOR PICKER -->
            <div
                id="hero-color-picker-desktop-wrapper"
                class="show-till-tab fade-from-right"
                anim-on-scroll="fade-from-right"
            >
                <ColorPicker
                    id="hero-color-picker-desktop"
                    colorPickerData={colorPickerData}
                />
            </div>
            <div
                id="hero-color-picker-tablet-wrapper"
                class="show-tab fade-in"
                anim-on-scroll="fade-in"
            >
                <ColorPicker
                    id="hero-color-picker-tablet"
                    layout="horizontal"
                    size="big"
                    colorPickerData={colorPickerData}
                />
            </div>
        </div>
        <!-- HERO CTA -->
        <div id="hero-cta" class="fade-in" anim-on-scroll="fade-in">
            <h1 set:html={homePageData?.heroTitle} class="m-0 lh-35" />
            <p class="show-tab fs-2 my-1">
                {homePageData?.mobileAds}
            </p>
            <div id="hero-cta-buttons">
                <a
                    class="button primary"
                    href="#"
                    aria-label={homePageData?.buyNowAriaLabel}
                >
                    {homePageData?.buyNowLabel}
                </a>
                <a
                    class="button secondary"
                    href="#"
                    aria-label={homePageData?.discoverAriaLabel}
                >
                    {homePageData?.discoverLabel}
                </a>
            </div>
        </div>
    </div>
</div>
<!-- !SECTION - HERO -->

<!-- SECTION - SECTION LIGHT -->
<section
    id="section-light"
    aria-labelledby={homePageData?.sectionLightAriaLabel}
>
    <div class="container">
        <!-- BENTO LIGHT -->
        <div id="bento-light">
            <!-- ITEM-1 -->
            <div
                id="lb-item-1"
                class="fade-from-left"
                anim-on-scroll="fade-from-left"
                style={`background-image: url('${urlFor(homePageData?.lItem1Image?.asset?._ref).url()}')`}
                role="img"
                aria-hidden="true"
            >
            </div>
            <!-- ITEM-2 -->
            <div id="lb-item-2" class="fade-in" anim-on-scroll="fade-in">
                <div set:html={lItem2Content} />
            </div>
            <!-- ITEM-3 -->
            <div
                id="lb-item-3"
                class="fade-from-right"
                anim-on-scroll="fade-from-right"
                style={`background-image: url('${urlFor(homePageData?.lItem3Image?.asset?._ref).url()}')`}
                role="img"
                aria-hidden="true"
            >
            </div>
            <!-- ITEM-4 -->
            <div
                id="lb-item-4"
                class="fade-from-left"
                anim-on-scroll="fade-from-left"
                style={`background-image: url('${urlFor(homePageData?.lItem4Image?.asset?._ref).url()}')`}
                role="img"
                aria-hidden="true"
            >
            </div>
            <!-- ITEM-5 -->
            <div
                id="lb-item-5"
                class="cromed text-light fade-in"
                anim-on-scroll="fade-in"
            >
                <div set:html={lItem5Content} />
                <ColorPicker
                    id="white-bent-color-picker"
                    layout="horizontal"
                    displayLabel="hide"
                    colorPickerData={colorPickerData}
                />
            </div>
            <!-- ITEM-6 -->
            <div
                id="lb-item-6"
                class="highlighted-container fade-from-right"
                anim-on-scroll="fade-from-right"
            >
                <div set:html={lItem6Content} />
            </div>
        </div>
    </div>

    <!-- SUB HERO -->
    <img
        class="sub-hero"
        src={urlFor(homePageData?.lightSubHeroImage?.asset?._ref).url()}
        aria-hidden="true"
    />
</section>
<!-- !SECTION - SECTION LIGHT -->

<!-- SECTION - SECTION DARK -->
<section
    id="section-dark"
    class="pt-2"
    aria-labelledby={homePageData?.sectionDarkAriaLabel}
>
    <div class="container">
        <div id="bento-dark">
            <!-- ITEM 1 -->
            <div
                id="db-item-1"
                class="fade-from-left"
                anim-on-scroll="fade-from-left"
            >
            </div>

            <!-- ITEM 2 -->
            <div id="db-item-2" class="fade-in" anim-on-scroll="fade-in">
                <div set:html={dItem2Content} />
            </div>

            <!-- ITEM 3 -->
            <div
                id="db-item-3"
                class="fade-from-right"
                anim-on-scroll="fade-from-right"
            >
                <div set:html={dItem3Content} />
                <!-- TODO -->
                <div id="3d-world-wrapper"></div>
            </div>

            <!-- ITEM 4 -->
            <div
                id="db-item-4"
                class="fade-from-left"
                anim-on-scroll="fade-from-left"
                style={`background-image: url('${urlFor(homePageData?.dItem4Image?.asset?._ref).url()}')`}
                role="img"
                aria-hidden="true"
            >
            </div>

            <!-- ITEM 5 -->
            <div
                id="db-item-5"
                class="fade-from-right"
                anim-on-scroll="fade-from-right"
            >
                <div set:html={dItem5Content} />

                <div class="t-a-end mb-05">
                    <a
                        href="#TODO"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="button primary fs-1 fs-15-mob"
                        aria-label={homePageData?.joinUsAriaLabel}
                    >
                        {homePageData?.joinUsLabel}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- SUB HERO -->
    <div id="dark-sub-hero" style="position: relative;">
        <img
            style="border-radius: 10px;"
            class="sub-hero"
            src={urlFor(homePageData?.darkSubHeroImage?.asset?._ref).url()}
            aria-hidden="true"
        />
        <img
            id="logo-over-image"
            src="/images/logo/logo-ontop-lorika-white.svg"
            alt="Ontop by Lorika logo"
            aria-hidden="true"
        />
    </div>
</section>
<!-- !SECTION - DARK SECTION -->

<!-- SECTION - 3D ASSET SCRIPTS -->
<script src="../utils/hero-eyeglass-interaction.ts"></script>
<!-- !SECTION - 3D ASSET SCRIPTS -->
