---
import type { ColorPicker } from "../../../studio-lorika-ontop/sanity.types";
import "./color-picker.css";

interface Props {
    id: string;
    layout?: "horizontal" | "vertical";
    displayLabel?: "show" | "hide";
    size?: "normal" | "big" | "dynamic";

    //CMS
    colorPickerData: ColorPicker
}
const {
    id,
    layout = "vertical",
    displayLabel = true,
    size = "normal",

    //CMS
    colorPickerData: colorPicker
} = Astro.props;
---

<!-- NOTE - the initialization of the click functionalities of this color picker is made inside color-picker.ts -->
<div
    class:list={["color-picker-wrapper", layout, displayLabel, size]}
    id={id}
    role="radiogroup"
    aria-label={colorPicker.groupAriaLabel}
>
    <!-- RAL2008 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL2008"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL2008Label}
    >
        <strong>{colorPicker.RAL2008Label}</strong>
        <div class="color RAL2008" aria-hidden="true"></div>
    </button>
    <!-- RAL3002 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL3002"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL3002Label}
    >
        <strong>{colorPicker.RAL3002Label}</strong>
        <div class="color RAL3002" aria-hidden="true"></div>
    </button>

    <!-- RAL4006 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL4006"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL4006Label}
    >
        <strong>{colorPicker.RAL4006Label}</strong>
        <div class="color RAL4006" aria-hidden="true"></div>
    </button>

    <!-- RAL9022 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL9022"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL9022Label}
    >
        <strong>{colorPicker.RAL9022Label}</strong>
        <div class="color RAL9022" aria-hidden="true"></div>
    </button>

    <!-- RAL6037 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL6037"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL6037Label}
    >
        <strong>{colorPicker.RAL6037Label}</strong>
        <div class="color RAL6037" aria-hidden="true"></div>
    </button>

    <!-- RAL1013 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL1013"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL1013Label}
    >
        <strong>{colorPicker.RAL1013Label}</strong>
        <div class="color RAL1013" aria-hidden="true"></div>
    </button>

    <!-- RAL5015 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL5015"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL5015Label}
    >
        <strong>{colorPicker.RAL5015Label}</strong>
        <div class="color RAL5015" aria-hidden="true"></div>
    </button>

    <!-- RAL1018 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL1018"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL1018Label}
    >
        <strong>{colorPicker.RAL1018Label}</strong>
        <div class="color RAL1018" aria-hidden="true"></div>
    </button>

    <!-- RAL1002 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL1002"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL1002Label}
    >
        <strong>{colorPicker.RAL1002Label}</strong>
        <div class="color RAL1002" aria-hidden="true"></div>
    </button>

    <!-- RAL9005 -->
    <button
        type="button"
        class="color-label"
        data-color-css-var-key="--RAL9005"
        role="radio"
        aria-checked="false"
        aria-label={colorPicker.RAL9005Label}
    >
        <strong>{colorPicker.RAL9005Label}</strong>
        <div class="color RAL9005" aria-hidden="true"></div>
    </button>
</div>
