---
import type { SiteNavigators } from "../../studio-lorika-ontop/sanity.types";
import { urlFor } from "../utils/sanity-client";

//NOTE - the second values should always be the current page root
/*
 *  /en/home -> ['en', 'home'] -> 'home'
 */
const activeLinkPath = Astro.url.pathname.split("/")[2] ?? "";

interface Props {
    //SITE NAVIGATORS (NAVBAR & FOOTER)
    siteNavigators: SiteNavigators;
}

const {
    //SITE NAVIGATORS (NAVBAR & FOOTER)
    siteNavigators,
} = Astro.props;

const navData = siteNavigators.navbar;
---

<nav aria-label="navbar">
    <div id="top-navbar" data-mobile-menu-opened="closed">
        <!-- LOGO -->
        <div id="logo-link-wrapper">
            <a id="logo-link" href="/" aria-label={navData?.home + " link"}>
                <img src={urlFor(navData?.logo?.asset?._ref).url()} alt="logo Lorika" />
            </a>
        </div>

        <!-- MOBILE MENU BUTTON -->
        <div id="mobile-menu-wrapper" class="show-mob">
            <!-- CTA -->
            <a
                class="button primary fs-2-mob nav-cta-shop"
                href="https://lorika-8398.myshopify.com/products/ontop-preorder"
                aria-label={navData?.shopAriaLabel}
            >
                {navData?.shop}
            </a>
            <!-- SANDWICH -->
            <button id="mobile-menu-button">
                <img src="/images/icons/menu.svg" alt="mobile menu button" />
            </button>
        </div>

        <!-- SECTION - MAIN MENU -->
        <ul class="fs-2-mob">
            <li>
                <a
                    href="/"
                    aria-current={activeLinkPath === "" ? "page" : undefined}
                    class:list={{ active: activeLinkPath === "" }}
                >
                    {navData?.home}
                </a>
            </li>

            <li>
                <a
                    href="/chi-siamo"
                    aria-current={activeLinkPath === "/chi-siamo"
                        ? "page"
                        : undefined}
                    class:list={{ active: activeLinkPath === "/chi-siamo" }}
                >
                    {navData?.aboutUs}
                </a>
            </li>

            <li>
                <a
                    href="/ontop-cover"
                    aria-current={activeLinkPath === "/ontop-cover"
                        ? "page"
                        : undefined}
                    class:list={{ active: activeLinkPath === "/ontop-cover" }}
                >
                    {navData?.ontopCover}
                </a>
            </li>

            <li>
                <a
                    href="/ambassadors"
                    aria-current={activeLinkPath === "/ambassadors"
                        ? "page"
                        : undefined}
                    class:list={{ active: activeLinkPath === "/ambassadors" }}
                >
                    {navData?.ambassadors}
                </a>
            </li>
        </ul>
        <!-- !SECTION - MAIN MENU -->

        <!-- CTA -->
        <div class="nav-cta-wrapper show-till-mob">
            <a
                class="button primary wide fs-2-mob nav-cta-shop"
                href="https://lorika-8398.myshopify.com/products/ontop-preorder"
                aria-label={navData?.shopAriaLabel}
            >
                {navData?.shop}
            </a>

            <a
                class="button primary icon-for-button nav-cta-cart"
                href="/cart"
                aria-label={navData?.cartAriaLabel}
                aria-current={activeLinkPath === "/cart" ? "page" : undefined}
            >
                <!-- NOTE plain svg to change fill at run time with color picker -->
                <svg
                    fill="#ffffff"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                    transform="matrix(-1, 0, 0, 1, 0, 0)"
                    stroke="#ffffff"
                >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <title>ionicons-v5-d</title>
                        <circle cx="176" cy="416" r="32"></circle>
                        <circle cx="400" cy="416" r="32"></circle>
                        <path
                            d="M456.8,120.78A23.92,23.92,0,0,0,438.24,112H133.89l-6.13-34.78A16,16,0,0,0,112,64H48a16,16,0,0,0,0,32H98.58l45.66,258.78A16,16,0,0,0,160,368H416a16,16,0,0,0,0-32H173.42l-5.64-32H409.44A24.07,24.07,0,0,0,433,284.71l28.8-144A24,24,0,0,0,456.8,120.78Z"
                        ></path>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</nav>
<!-- NOTE: leave this here as css will find it with brother operator -->
<!-- blur curtain -->
<div id="blur-curtain"></div>

<!-- MOBILE MENU TOGGLE -->
<script>
    const mobileMenuBtn = document.getElementById("mobile-menu-button");
    const topNavbar = document.getElementById("top-navbar");
    const blurCurtain = document.getElementById("blur-curtain");

    if (mobileMenuBtn && topNavbar) {
        const toggleMobileMenu = (_: MouseEvent) => {
            switch (topNavbar.dataset.mobileMenuOpened) {
                case "opened":
                    topNavbar.dataset.mobileMenuOpened = "closed";
                    break;
                case "closed":
                    topNavbar.dataset.mobileMenuOpened = "opened";
                    break;
            }
        };
        //ADD CLICK EVENT LOGIC
        mobileMenuBtn.addEventListener("click", toggleMobileMenu);
        //optional
        if (blurCurtain)
            blurCurtain.addEventListener("click", toggleMobileMenu);
    } else {
        console.error(
            "#mobile-menu-button and/or #top-navbar is missing from the navbar",
        );
    }
</script>
