---
import type { SiteNavigators } from "../../studio-lorika-ontop/sanity.types";
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";

interface Props {
    // Base SEO
    title: string;
    description: string;
    canonical: string;
    robots: string;

    // Open Graph
    ogImage: string;
    ogType?: "website";
    ogLocale: string;
    ogSiteName: string;

    // Twitter
    twitterCard?: "summary_large_image";
    twitterSite: string;
    twitterCreator?: string;

    //SITE NAVIGATORS (NAVBAR & FOOTER)
    siteNavigators: SiteNavigators;

    // Accessibility
    lang?: string;
}

const {
    title,
    description,
    canonical,
    robots = "index, follow",

    ogImage,
    ogType = "website",
    ogLocale = "en_US",
    ogSiteName,

    twitterCard = "summary_large_image",
    twitterSite,
    twitterCreator,

    //SITE NAVIGATORS (NAVBAR & FOOTER)
    siteNavigators,

    lang = "en",
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <!-- SECTION - HEAD -->
    <head>
        <!-- SECTION - FAVICONS -->
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="/favicons/favicon-96x96.png"
        />
        <link
            rel="icon"
            href="/favicons/favicon.svg"
            type="image/svg+xml"
            sizes="any"
        />
        <link rel="icon" href="/favicons/favicon.ico" />
        <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />
        <link rel="manifest" href="/favicons/site.webmanifest" />
        <meta
            name="theme-color"
            content="#ffffff"
            media="(prefers-color-scheme: light)"
        />
        <meta
            name="theme-color"
            content="#0f172a"
            media="(prefers-color-scheme: dark)"
        />
        <!-- !SECTION - FAVICONS -->

        <!-- SECTION - META -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- SEO base -->
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="robots" content={robots} />
        {canonical && <link rel="canonical" href={canonical} />}

        <!-- Open Graph -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content={ogType} />
        <meta property="og:url" content={canonical} />
        <meta property="og:image" content={ogImage} />
        <meta property="og:site_name" content={ogSiteName} />
        <meta property="og:locale" content={ogLocale} />

        <!-- Twitter -->
        <meta name="twitter:card" content={twitterCard} />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={ogImage} />
        <meta name="twitter:site" content={twitterSite} />
        <meta name="twitter:creator" content={twitterCreator} />
        <!-- !SECTION - META -->

        <!-- SECTION - CSS -->
        <link rel="stylesheet" href="/css/globals/reset.css" />
        <link rel="stylesheet" href="/css/globals/vars.css" />
        <link rel="stylesheet" href="/css/globals/font-size.css" />
        <link rel="stylesheet" href="/css/globals/global.css" />
        <link rel="stylesheet" href="/css/globals/spacing.css" />
        <link rel="stylesheet" href="/css/globals/navbar.css" />
        <link rel="stylesheet" href="/css/globals/footer.css" />
        <!-- !SECTION - CSS -->
    </head>
    <!-- !SECTION - HEAD -->
    <!-- SECTION - BODY -->
    <body>
        <!-- SECTION - INITIALIZERS -->
        <script src="../initializers/fire-all-inits.ts"></script>
        <!-- !SECTION - INITIALIZERS -->
        <!-- NAVBAR -->
        <Navbar siteNavigators={siteNavigators} />
        <!-- MAIN -->
        <main>
            <!-- PAGE CONTENT -->
            <slot />
        </main>
        <!-- FOOTER -->
        <Footer siteNavigators={siteNavigators} />
    </body>
    <!-- !SECTION - BODY -->
</html>
